<section class="about-section">
  <div class="about-content">
    <img
      src="https://static.vecteezy.com/system/resources/previews/011/064/636/non_2x/cryptocurrency-3d-illustration-free-png.png"
      alt="Crypto Illustration"
      class="about-image"
    />

    <div class="about-text">
      <h2><span class="label">What is</span> <span class="brand">Ethly.Fi?</span></h2>
      <p><strong>Ethly Finance</strong> is the world’s first ETH-pegged stablecoin protocol backed by various LSTs and LRTs.</p>
      <p>Users can mint pETH by overcollateralizing supported LSTs and LRTs, acquiring the principal value at the lowest cost while retaining the yield.</p>
    </div>
  </div>
</section>
