<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <span class="brand">Ethly.Fi</span>
    </div>

    <div class="footer-links">
      <a href="#">pETH</a>
      <a href="#">Docs</a>
      <a href="#">Audits</a>
    </div>

    <div class="footer-socials">
      <button class="icon-btn" aria-label="X">
        <img src="https://cdn.prod.website-files.com/5d66bdc65e51a0d114d15891/64cebe1d31f50e161e4c825a_X-logo-transparent-white-twitter.png" alt="">
      </button>
      <button class="icon-btn" aria-label="Discord">
        <img src="https://www.pngkey.com/png/full/20-200938_white-discord-logo-png-png-free-discord-logo.png" alt="">      </button>
      <button class="icon-btn" aria-label="GitHub">
        <img src="https://img.icons8.com/ios11/512/FFFFFF/github.png" alt="">
      </button>
    </div>
  </div>

  <div class="footer-bottom">
    <span>© Copyright 2024 Ethly.Fi all right reserved</span>
    <div class="legal-links">
      <a href="#">Terms of Services</a>
      <span>|</span>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>
