<section class="hero">
  <div class="tagline">Introducing: Aggregated Blockchains 🔥</div>
  <h1>The First ETH<br><span class="highlight">Pegged Stablecoin</span></h1>
  <p>Leveraging underlying yields of your LST / LRT by up to 11x</p>
  <button class="launch-btn">Launch APP</button>
  <div class="stats">
    <div class="card card1">
        <p>Total Value Locked</p>
        <h2>$342,089,108</h2>
    </div>
    <div class="card card2">
        <p>Total pETH Minted</p>
        <h2>342,089,108</h2>
    </div>
    <div class="card card3">
        <p>pETH APY</p>
        <h2>15%</h2>
    </div>
    </div>
</section>