<div class="main-container">
    <section id="home">
        <app-home></app-home>
    </section>
    <section id="about">
        <app-about></app-about>
    </section>
    <section id="features">
        <app-features></app-features>
    </section>    
    <section id="laverage">
        <app-laverage-yield></app-laverage-yield>
    </section>
    <section id="collaborations">
        <app-collaborations></app-collaborations>
    </section>
    <section id="questions">
        <app-questions></app-questions>
    </section>
</div>