<div class="leverage-yield">
  <h2>How to <span class="highlight">Leverage Yield</span>?</h2>
  <div class="steps">
    <div class="step">
      <img src="https://img.freepik.com/premium-photo/3d-rendering-wallet-icon-floating-cashback-with-banknotes-coins-credit-card-finance-saving-online-payment-investment-concept-isolated-pink-background-illustration_598821-54.jpg" alt="Deposit Collaterals" />
      <p>Deposit collaterals</p>
    </div>
    <div class="step">
      <img src="https://static.vecteezy.com/system/resources/previews/025/388/551/non_2x/icon-anvil-related-to-celtic-symbol-flat-style-simple-design-editable-simple-illustration-vector.jpg" alt="Mint pETH" />
      <p>1 Mint pETH</p>
    </div>
    <div class="step">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT0pWBkaEQPgQcp-zYV-W8pqsvDjESgqvZTCoWa3EXBPsTYBIdZ" alt="Redeem" />
      <p>Redeem pETH for <br />more collaterals</p>
    </div>
    <div class="step">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRcLQcC0fLRG_ILyZxs4-wOspVp8Fvh72xxDflZkQQ9vN-FHoLR" alt="Repeat" />
      <p>Repeat all steps</p>
    </div>
  </div>
</div>
